<div class="card mx-4 my-4">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li *ngIf="!conectado" class="nav-item mr-2">
                <input type="text" [(ngModel)]="mensaje.username" class="form-control" placeholder="Nombre de usuario..." name="username">
            </li>
            <li class="nav-item">
                <li class="nav-item mr-2">
                    <button class="btn btn-success" type="button" (click)="conectar()" *ngIf="!conectado" [disabled]="!mensaje.username">Conectar</button>
                </li>
                <li class="nav-item">
                    <button *ngIf="conectado" class="btn btn-warning" type="button" (click)="desconectar()">Cerrar Chat</button>
                </li>
        </ul>
    </div>

    <div #scrollChat [scrollTop]="scrollChat.scrollHeight" *ngIf="conectado" class="card-body" style="overflow-y: scroll; height: 370px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-light" *ngFor="let mensaje of mensajes">
                <span *ngIf="mensaje.tipo=='NUEVO_USUARIO'">{{mensaje.fecha | date:'shortTime'}} @ {{mensaje.texto}} <span [ngStyle]="{'color': mensaje.color}">{{mensaje.username}}</span></span>
                <span *ngIf="mensaje.tipo=='MENSAJE'">{{mensaje.fecha | date:'shortTime'}} <span [ngStyle]="{'color': mensaje.color}">{{mensaje.username}}</span> dice:<br> {{mensaje.texto}}</span>
            </li>
        </ul>
    </div>

    <div *ngIf="conectado" class="card-footer">
        <form class="form-inline">
            <div class="form-group mx-3">
                <input type="text" [(ngModel)]="mensaje.texto" class="form-control" placeholder="Escribe un mensaje..." name="texto" (keyup)="writingEvent()">
            </div>
            <button class="btn btn-primary" type="submit" (click)="enviarMensaje()">Enviar</button>
        </form>
        <div>{{escribiendo}}</div>
    </div>
</div>